doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title DenGonBan2
  body
    h1 伝言板
    form(method="post" action="/posts")
      div
        textarea(name="content" cols=40 rows=4)
      div
        button(type="submit") 投稿